:root {
  --black: #000000;
  --default-text-color: #ffffff;
  --yellow: #fca311;
  --button-bottomlayer: #ffffff;
  --button-toplayer: #131618;
  --bloodred: #c12929;
  --ui-surface: #0d0c0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--ui-surface);
}

.calculator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#output {
  height: 4rem;
  padding-block: 4rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  margin-left: auto;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
  color: var(--default-text-color);
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 22px;
  column-gap: 13px;
  padding: 1rem;
  background-color: var(--ui-surface);
}

.buttons div {
  position: relative;
  height: 5rem;
  width: 5rem;
  transform: translateY(-5px);
  border-radius: 10px;
  background-color: var(--button-bottomlayer);
  box-shadow: 0px 12px 10px var(--black);
}

.dialpad,
.operator,
.erase {
  position: absolute;
  top: -5px;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--button-toplayer);
  color: var(--default-text-color);
  cursor: pointer;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  transition: all 50ms ease-in-out;
  &:active {
    transform: translateY(5px);
  }
}

.erase {
  color: var(--bloodred);
  font-weight: 800;
}

#evaluate {
  font-size: 2rem;
  font-weight: 800;
}

.operator {
  color: var(--yellow);
}

@media (min-width: 480px) {
  .calculator {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .buttons {
    max-width: 400px;
  }
  .dialpad,
  .operator,
  .erase {
    height: 4.5rem;
    width: 6rem;
  }

  .buttons div {
    height: 4.5rem;
    width: 6rem;
  }
  #output {
    margin: auto;
  }
}

@media (max-width: 380px) {
  .dialpad,
  .operator,
  .erase {
    height: 4.5rem;
    width: 4.5rem;
  }

  .buttons div {
    height: 4.5rem;
    width: 4.5rem;
  }
}
