:root {
  --black: #000000;
  --default-text-color: #ffffff;
  --yellow: #fca311;
  --button-bottomlayer: #ffffff;
  --button-toplayer: #131618;
  --bloodred: #c12929;
  --ui-surface: #0d0c0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--ui-surface);
}

.calc-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.calculator {
  width: 95%;
  display: flex;
  flex-direction: column;
}

#output {
  height: 4rem;
  padding: 3rem 0.5rem;
  border-radius: 0.5rem;
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 5rem auto;
  font-size: clamp(1.8rem, 1.9vw, 2rem);
  font-weight: 600;
  color: var(--default-text-color);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 22px;
  column-gap: 13px;
  background-color: var(--ui-surface);
}

.buttons div {
  position: relative;
  height: 5rem;
  width: 5rem;
  transform: translateY(-5px);
  border-radius: 10px;
  background-color: var(--button-bottomlayer);
  box-shadow: 0px 12px 10px var(--black);
}

.dialpad,
.operator,
.erase {
  position: absolute;
  top: -5px;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--button-toplayer);
  color: var(--default-text-color);
  cursor: pointer;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  transition: all 50ms ease-in-out;
  &:active {
    transform: translateY(5px);
  }
}

.erase {
  color: var(--bloodred);
  font-weight: 800;
}

#evaluate {
  font-size: 2rem;
  font-weight: 800;
}

.operator {
  color: var(--yellow);
}

@media (min-width: 480px) {
  .calc-outer {
    justify-content: center;
    align-items: center;
  }

  .calculator {
    height: initial;
    max-width: 500px;
    box-shadow: 20px 20px 30px var(--button-toplayer),
      -20px -20px 30px var(--button-toplayer);
    padding: 0.5rem;
    border-radius: 2rem;
  }

  .dialpad,
  .operator,
  .erase {
    height: 4.5rem;
    width: 6rem;
  }

  .buttons {
    padding: 1rem;
  }

  .buttons div {
    height: 4.5rem;
    width: 6rem;
  }

  #output {
    margin: 1rem auto;
    background-color: var(--button-toplayer);
  }
}

@media (max-width: 380px) {
  .dialpad,
  .operator,
  .erase {
    height: 4.5rem;
    width: 4.5rem;
  }

  .buttons div {
    height: 4.5rem;
    width: 4.5rem;
  }
}
